[user]
email = bertrand.lanson@protonmail.com
name = Bertrand Lanson
signingkey = /home/lanson/.ssh/id_lanson.pub

[credential]
helper = store --file ~/.git-credentials

[gpg]
format = ssh

[commit]
gpgsign = true

[core]
editor = codium --wait
ignorecase = false
excludesFile = ~/.gitignore

[diff]
tool = vscodium

[difftool "vscodium"]
cmd = codium --wait --diff $LOCAL $REMOTE

[merge]
tool = vscodium

[mergetool "vscodium"]
cmd = codium --wait --merge $REMOTE $LOCAL $BASE $MERGED

[nearit "gitlab.gitlab.infomaniak.ch"]
token = env(GITLAB_TOKEN)

[nearit "gitlab.gitlab.ednz.fr"]
token = env(GITLAB_EDNZ_TOKEN)

[nearit "gitea.git.ednz.fr"]
token = env(GITEA_TOKEN)

# requires git-delta
[interactive]
diffFilter = delta --color-only

# requires git-delta
[pager]
diff = delta
log = delta
reflog = delta
show = delta

# requires git-delta
[delta]
line-numbers = true
side-by-side = true

[alias]
lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
prune-branches = !"git remote prune ${1:-origin} && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D"
branches = branch -a
tags = tag -n1 --list
stashes = stash list
pfl = push --force-with-lease
rcommit = commit --amend --no-edit
co = checkout
cob = checkout -b
s = status -sb
aa = !git add -A && git status -sb
c = commit -v
ca = commit -v -a
cam = commit -am
ri = rebase -i
last = log -1 HEAD
undo = reset --soft HEAD~1
ss = stash save
sp = stash pop
makepatch = "!git --no-pager diff HEAD"

[init]
defaultBranch = main

[push]
default = current
autoSetupRemote = true

[includeIf "gitdir:/home/lanson/git/gitlab.devau.co/"]
path = /home/lanson/.gitconfig.d/.gitlab.devau.co.config

[includeIf "gitdir:/home/lanson/git/gitlab.com/"]
path = /home/lanson/.gitconfig.d/.gitlab.com.config

[includeIf "gitdir:/home/lanson/git/gitlab.infomaniak.ch/"]
path = /home/lanson/.gitconfig.d/.gitlab.infomaniak.ch.config

[includeIf "gitdir:/home/lanson/git/ansible_collections/infomaniak/"]
path = /home/lanson/.gitconfig.d/.gitlab.infomaniak.ch.config

[includeIf "gitdir:/home/lanson/git/salsa.debian.org/"]
path = /home/lanson/.gitconfig.d/.salsa.debian.org.config

[includeIf "gitdir:/home/lanson/git/opendev.org/"]
path = /home/lanson/.gitconfig.d/.opendev.org.config
