# only track specific .config files
.config/**
!.config/alacritty**
!.config/kitty**
!.config/fontconfig**
!.config/flameshot**
!.config/VSCodium
!.config/VSCodium/User
!.config/VSCodium/User/settings.json
!.config/VSCodium/extensions.list
!.config/systemd
!.config/systemd/user
!.config/systemd/user/*.service
!.config/dotfiles**
!.config/openstack
!.config/openstack/clouds.template.yaml
!.config/pacman.conf
!.config/bspwm
!.config/bspwm/**
!.config/sxhkd
!.config/sxhkd/**
!.config/polybar
!.config/polybar/config.ini
!.config/polybar/launch.sh
!.config/polybar/scripts
!.config/polybar/scripts/*
!.config/polybar/modules
!.config/polybar/modules/*
!.config/picom
!.config/picom/picom.conf
!.config/feh
!.config/feh/wallpaper.png
!.config/rofi
!.config/rofi/config.rasi
!.config/rofi/monitors.rasi
!.config/rofi/powermenu.rasi
!.config/gtk-3.0
!.config/gtk-3.0/settings.ini
!.config/gtk-4.0
!.config/gtk-4.0/settings.ini
!.config/yazi
!.config/yazi/keymap.toml
!.config/yazi/yazi.toml
!.config/dunst
!.config/dunst/dunstrc
!.config/autorandr
!.config/autorandr/postswitch

# only track specific .ssh files
.ssh/**

# ignore themes
.themes/**
!.themes/.gitkeep

# ignore font uuid file
.fonts/.uuid

# only track specific .icons files
.icons/**
!.icons/default**

# ignore completion files
.bash_config.d/completion.d/*

# only track specific .local files
.local/**
!.local/share/fonts
!.local/bin
!.local/bin/lockscreen
!.local/bin/powermenu
!.local/bin/backlight
!.local/bin/volume
!.local/bin/autorandr-rofi
!.local/bin/quick-update
!.local/share
!.local/share/icons
!.local/share/icons/default
!.local/share/icons/default/index.theme
!.local/share/icons/dunst

# ignore local config.sh file
.bash_config.d/config.sh

.bash_config.d/specific.d/*

# ignore venvs content
.venvs/*/*
